<ion-header>
  <ion-toolbar>
    <ion-title>Floor Plans</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/project-details"></ion-back-button>

    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-button (click)="fileChooser()" color="light" expand="full">Upload image</ion-button>
  <ion-list>
    <ion-item-sliding>
      <ion-item>
        <img (click)="showImage()" src="assets/icon/pilt1_1.png" class="image-responsive" />
        
      </ion-item>
      <ion-item>
        <img (click)="showImage()" src="assets/icon/pilt1_2.png" class="image-responsive" />
        
      </ion-item>
    </ion-item-sliding>
    <ion-item-options side="end" icon-start (ionSwipe)="confirmDeleteProject(project)">

      <ion-item-option color="danger" expandable (click)="confirmDeleteProject(project)">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
        <!--ion-label>Delete...</ion-label-->
      </ion-item-option>
    </ion-item-options>

  </ion-list>
</ion-content>