<ion-header>
  <ion-toolbar>
    <ion-title>
      Projects
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="addProject()">
        <ion-icon name="add"></ion-icon>
      </ion-button>
      <ion-button (click)="toggleEdit()">{{editButton}}</ion-button>
    </ion-buttons>  
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-list>
    <ion-reorder-group (ionItemReorder)="reorderProjects($event)" [disabled]="!editing">
      <ion-item-sliding *ngFor="let project of dataService.projects" >
        

        <ion-item (click)="projectDetails(project)"
                  [ngClass]="project.isDone ? 'done' : ''">
          <ion-card>
            
            <img src="assets/icon/pilt1.png" class="image-responsive"/>
            <ion-card-header>
              <ion-card-title>{{project.title}}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              {{project.description}}
            </ion-card-content>
          </ion-card>
          <ion-reorder *ngIf="editing"></ion-reorder>
        </ion-item>

        <ion-item-options side="end" icon-start (ionSwipe)="confirmDeleteProject(project)">
         
          <ion-item-option color="danger" expandable (click)="confirmDeleteProject(project)">
            <ion-icon slot="icon-only" name="trash"></ion-icon>
            
          </ion-item-option>
        </ion-item-options>
      
      </ion-item-sliding>
    </ion-reorder-group>
  </ion-list>

</ion-content>
